<div class="container">

    <!-- HEADER -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" ng-href="/">Brian test app</a>
        </div>
        <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref=".bears">Bears</a></li>
            <li ui-sref-active="active"><a ui-sref=".races">Races</a></li>
            <li ui-sref-active="active"><a ui-sref=".raceDirectors">Race Directors</a></li>
        </ul>
    </nav>
    <br/>
</div>