<!-- need to next these bootstrap divs -->
<div id="race-list" class="row">
    <!--
     Race Directors (just a demo):
    <ul>
        <li ng-repeat="raceDirector in raceDirectors">{{raceDirector._id}} - {{raceDirector.fullName}}</li>
    </ul>
    Race Distances (just a demo):
    <ul>
        <li ng-repeat="raceDistance in raceDistances">{{raceDistance._id}} - {{raceDistance.distanceName}}</li>
    </ul>
    -->
    <div class="col-sm-8 col-sm-offset-0">
        <button ng-click="racesListCtrl.getRaces()">Get Races</button>
    </div>
    <div class="col-sm-8 col-sm-offset-0 my-show-hide-animation"">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <td>Name</td>
                <!-- <td>Date</td> -->
                <td>Website</td>
                <td>Race Director</td>
                <td>Distance</td>
                <td></td>
            </tr>
            </thead>
            <tbody ng-repeat="race in racesListCtrl.raceService.Races">
            <tr>
                <td>
                    <span ng-click="race.isExpanded = !race.isExpanded" ng-class="race.isExpanded ? 'glyphicon glyphicon-minus-sign' : 'glyphicon glyphicon-plus-sign'"></span>
                    {{race.name}}
                </td>
                <td>{{race.website}}</td>
                <td>{{race.raceDirector.fullName}}</td>
                <td>{{race.raceDistance.distanceName}}</td>
                <!-- <td><button ng-show="!editingRaces[$index]" ng-click="editRace($index)" class="btn btn-primary btn-sm">edit</button></td> -->
                <!-- <td><a href="races/{{race._id}}/update" class="btn btn-primary btn-sm">Edit</a></td> -->
                <td><a href="javascript: void(0);" class="btn btn-primary btn-sm" ng-click="racesListCtrl.updateRace(race._id)">Edit</a></td>
            </tr>
            <!--<tr collapse="!race.isExpanded"> -->
            <!-- this is much faster than using collapse, and accomplishes the same thing -->
            <!-- I put an accordion demo in the previous version of this file, but can't use it for this -->
            <tr ng-show="race.isExpanded">
                <td colspan="7" class="red">Here is some detail</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
